.yow{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 30px;
    font-style: oblique;
    margin-left: 10%;
    auto
    allign:position: ;
}
<span style=" font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    font-size: 15px;
    font-style: oblique;
    border:0cm;">THE TALENT HUB</span>